* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  width: 900px;
  margin: auto;
  font-size: 1rem;
}

#hdr {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  background-image: url(./imgs/sky.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  position: relative;
  height: 150px;
}

.hero h3 {
  text-align: right;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 23px;
}

nav {
  background-color: rgb(204, 200, 200);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: rgb(116, 111, 111);
  display: inline-block;
  height: 100%;
  padding: 20px;
  border-right: 1px solid white;
}

li a:hover {
  background-color: darkgray;
  color: white;
}

li a:hover {
  background-color: darkgray;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 80%;
}

.first-section {
  width: 70%;
  height: 80;
}

.second-section {
  width: 30%;
  height: 80%;
}

.welcome {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.welcome p {
  padding-top: 10px;
}

.products {
  border: 1px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.product {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.products:hover,
.welcome:hover,
.news:hover,
.messages:hover {
  background-color: grey;
}

.about p {
  padding-top: 10px;
}

.news {
  border: 1px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.messages {
  border: 1px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: rgb(20, 72, 214);
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: black;
  border-left: 2px solid black;
  padding-left: 3px;
}
footer a:hover {
  color: white;
}

h3,
h2 {
  color: rgb(20, 72, 214);
}

@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .first-section {
    width: 100%;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .news {
    height: 30%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  li a {
    text-decoration: none;
    color: rgb(116, 111, 111);
    display: inline-block;
    height: 100%;
    padding: 10px;
    border-right: 1px solid white;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .first-section {
    width: 100%;
  }

  .news {
    height: 30%;
  }

  .product {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  li a {
    text-decoration: none;
    color: rgb(116, 111, 111);
    display: inline-block;
    height: 100%;
    padding: 10px 5px 10px 5px;
    border-right: 1px solid white;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .first-section {
    width: 100%;
  }

  .news {
    height: 30%;
  }

  .product {
    display: flex;
    flex-direction: column;
  }
}
